[submodule "chss-app-game-client"]
	path = chss-app-game-client
	url = https://github.com/mikilukasik/chss-app-game-client
[submodule "chss-service-game-handler"]
	path = chss-service-game-handler
	url = https://github.com/mikilukasik/chss-service-game-handler
[submodule "chss-service-gateway"]
	path = chss-service-gateway
	url = https://github.com/mikilukasik/chss-service-gateway
[submodule "chss-service-logger"]
	path = chss-service-logger
	url = https://github.com/mikilukasik/chss-service-logger
[submodule "chss-module-logger"]
	path = chss-module-logger
	url = https://github.com/mikilukasik/chss-module-logger
[submodule "chss-module-engine"]
	path = chss-module-engine
	url = https://github.com/mikilukasik/chss-module-engine
[submodule "chss-service-auth"]
	path = chss-service-auth
	url = https://github.com/mikilukasik/chss-service-auth
[submodule "msg"]
	path = msg
	url = https://github.com/mikilukasik/msg
[submodule "chss-service-task-manager"]
	path = chss-service-task-manager
	url = git@github.com:mikilukasik/chss-service-task-manager.git
[submodule "chss-service-model-store"]
	path = chss-service-model-store
	url = git@github.com:mikilukasik/chss-service-model-store.git
[submodule "chss-service-learner"]
	path = chss-service-learner
	url = git@github.com:mikilukasik/chss-service-learner.git
